name: $(Rev:.r)

trigger: none
pr: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  versionStr: '2.0.0-MOJIO-$(Build.BuildNumber)'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: 'Src/couchbase-net-linq.sln'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Test'
  inputs:
    command: 'test'
    projects: 'Src/Couchbase.Linq.UnitTests/Couchbase.Linq.UnitTests.csproj'
    arguments: '--verbosity normal'

- task: DotNetCoreCLI@2
  displayName: 'Package NuGet'
  inputs:
    command: 'pack'
    packagesToPack: 'Src/Couchbase.Linq/Couchbase.Linq.csproj'
    configuration: '$(buildConfiguration)'
    nobuild: true
    includesymbols: true
    includesource: true
    versioningScheme: 'ByEnvVar'
    versionEnvVar: 'versionStr'

- task: DotNetCoreCLI@2
  displayName: 'Publish NuGet'
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '3370db57-f413-4042-b837-dbdacf80ce19/2a91c000-622d-457b-9215-dcede0a7442f'